In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(9).reshape(3,3))

In [3]:
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
0    3 non-null int32
1    3 non-null int32
2    3 non-null int32
dtypes: int32(3)
memory usage: 116.0 bytes

In [5]:
df = pd.DataFrame(np.arange(9).reshape(3,3), columns=list("ABC"))

In [6]:
df

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [7]:
df['A']

0    0
1    3
2    6
Name: A, dtype: int32

In [8]:
df[['A','C']]

   A  C
0  0  2
1  3  5
2  6  8

In [9]:
df['A'][1]

3

In [10]:
df.A  # Not recom.

0    0
1    3
2    6
Name: A, dtype: int32

In [11]:
df[:2]['A']

0    0
1    3
Name: A, dtype: int32

In [12]:
df[:1][:]

   A  B  C
0  0  1  2

In [13]:
sales = pd.read_csv('sales.txt')

In [14]:
sales

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0
5   MAR  B100  HYD   10.0
6   JAN  B200  VZG   14.0
7   FEB  B200  HYD    NaN
8   MAR  B200  NaN    4.0

In [15]:
sales.describe()

          Units
count   8.00000
mean   15.62500
std    12.78322
min     4.00000
25%     8.50000
50%    11.50000
75%    18.00000
max    40.00000

In [16]:
sales.describe(include='all')

       Month  Book City     Units
count      9     9    8   8.00000
unique     3     2    2       NaN
top      FEB  B100  HYD       NaN
freq       3     6    4       NaN
mean     NaN   NaN  NaN  15.62500
std      NaN   NaN  NaN  12.78322
min      NaN   NaN  NaN   4.00000
25%      NaN   NaN  NaN   8.50000
50%      NaN   NaN  NaN  11.50000
75%      NaN   NaN  NaN  18.00000
max      NaN   NaN  NaN  40.00000

In [17]:
sales

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0
5   MAR  B100  HYD   10.0
6   JAN  B200  VZG   14.0
7   FEB  B200  HYD    NaN
8   MAR  B200  NaN    4.0

In [18]:
sales

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0
5   MAR  B100  HYD   10.0
6   JAN  B200  VZG   14.0
7   FEB  B200  HYD    NaN
8   MAR  B200  NaN    4.0

In [19]:
sales.loc[0,'Units']

10.0

In [20]:
sales.head()

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0

In [21]:
sales.loc[ sales.City == 'VZG' , ['Book','Units'] ]

   Book  Units
0  B100   10.0
1  B100    4.0
2  B100   13.0
6  B200   14.0

In [22]:
units = sales.loc[ : , 'Units']

In [23]:
type(units)

pandas.core.series.Series

In [24]:
det = sales.loc[ : , ['Book','Units']]

In [25]:
type(det)

pandas.core.frame.DataFrame

In [26]:
sales.index

RangeIndex(start=0, stop=9, step=1)

In [27]:
sales.iloc[0,:]

Month     JAN
Book     B100
City      VZG
Units      10
Name: 0, dtype: object

## Read data about countries

In [28]:
import requests

In [29]:
resp = requests.get("https://restcountries.eu/rest/v2/all")

In [30]:
cdf = pd.DataFrame(resp.json())

In [31]:
cdf.head()

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,name,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations
0,AF,AFG,"[AF, Afġānistān]",652230.0,"[IRN, PAK, TKM, UZB, TJK, CHN]",[93],Kabul,AFG,"[{'code': 'AFN', 'name': 'Afghan afghani', 'sy...",Afghan,...,Afghanistan,افغانستان,004,27657145,Asia,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",Southern Asia,[UTC+04:30],[.af],"{'de': 'Afghanistan', 'es': 'Afganistán', 'fr'..."
1,AX,ALA,"[AX, Aaland, Aland, Ahvenanmaa]",1580.0,[],[358],Mariehamn,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Ålandish,...,Åland Islands,Åland,248,28875,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Northern Europe,[UTC+02:00],[.ax],"{'de': 'Åland', 'es': 'Alandia', 'fr': 'Åland'..."
2,AL,ALB,"[AL, Shqipëri, Shqipëria, Shqipnia]",28748.0,"[MNE, GRC, MKD, KOS]",[355],Tirana,ALB,"[{'code': 'ALL', 'name': 'Albanian lek', 'symb...",Albanian,...,Albania,Shqipëria,008,2886026,Europe,"[{'acronym': 'CEFTA', 'name': 'Central Europea...",Southern Europe,[UTC+01:00],[.al],"{'de': 'Albanien', 'es': 'Albania', 'fr': 'Alb..."
3,DZ,DZA,"[DZ, Dzayer, Algérie]",2381741.0,"[TUN, LBY, NER, ESH, MRT, MLI, MAR]",[213],Algiers,ALG,"[{'code': 'DZD', 'name': 'Algerian dinar', 'sy...",Algerian,...,Algeria,الجزائر,012,40400000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Northern Africa,[UTC+01:00],[.dz],"{'de': 'Algerien', 'es': 'Argelia', 'fr': 'Alg..."
4,AS,ASM,"[AS, Amerika Sāmoa, Amelika Sāmoa, Sāmoa Amelika]",199.0,[],[1684],Pago Pago,ASA,"[{'code': 'USD', 'name': 'United State Dollar'...",American Samoan,...,American Samoa,American Samoa,016,57100,Oceania,[],Polynesia,[UTC-11:00],[.as],"{'de': 'Amerikanisch-Samoa', 'es': 'Samoa Amer..."

In [32]:
cdf.describe()

               area        gini    population
count  2.400000e+02  153.000000  2.500000e+02
mean   6.262107e+05   40.177124  2.939655e+07
std    1.950028e+06    9.265119  1.244578e+08
min    4.400000e-01   24.000000  0.000000e+00
25%    1.533250e+03   33.700000  2.029030e+05
50%    7.100650e+04   38.600000  4.648734e+06
75%    4.146432e+05   46.200000  1.803955e+07
max    1.712444e+07   65.800000  1.377422e+09

In [33]:
cdf['population']

0       27657145
1          28875
2        2886026
3       40400000
4          57100
5          78014
6       25868000
7          13452
8           1000
9          86295
10      43590400
11       2994400
12        107394
13      24117360
14       8725931
15       9730500
16        378040
17       1404900
18     161006790
19        285000
20       9498700
21      11319511
22        370300
23      10653654
24         61954
25        775620
26      10985059
27         17408
28       3531159
29       2141206
         ...
220     18564000
221     23503349
222      8593600
223     55155000
224     65327652
225      1167242
226      7143000
227         1411
228       103252
229      1349667
230     11154400
231     78741053
232      4751120
233        31458
234        10640
235     33860700
236     42692393
237      9856000
238     65110000
239    323947000
240      3480222
241     31576400
242       277500
243     31028700
244     92700000
245        11750
246       510713
247     27478000
248     15933883
249     14240168
Name: population, Length: 250, dtype: int64

In [34]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 24 columns):
alpha2Code        250 non-null object
alpha3Code        250 non-null object
altSpellings      250 non-null object
area              240 non-null float64
borders           250 non-null object
callingCodes      250 non-null object
capital           250 non-null object
cioc              247 non-null object
currencies        250 non-null object
demonym           250 non-null object
flag              250 non-null object
gini              153 non-null float64
languages         250 non-null object
latlng            250 non-null object
name              250 non-null object
nativeName        250 non-null object
numericCode       249 non-null object
population        250 non-null int64
region            250 non-null object
regionalBlocs     250 non-null object
subregion         250 non-null object
timezones         250 non-null object
topLevelDomain    250 non-null object
translations      250 non-null object
dtypes: float64(2), int64(1), object(21)
memory usage: 47.0+ KB

## 11-FEB

In [35]:
# cdf[ ['alpha3Code','name','capital','population','area']].head()
cdf.loc[:5, ['alpha3Code','name','capital','population','area']]

  alpha3Code            name           capital  population       area
0        AFG     Afghanistan             Kabul    27657145   652230.0
1        ALA   Åland Islands         Mariehamn       28875     1580.0
2        ALB         Albania            Tirana     2886026    28748.0
3        DZA         Algeria           Algiers    40400000  2381741.0
4        ASM  American Samoa         Pago Pago       57100      199.0
5        AND         Andorra  Andorra la Vella       78014      468.0

In [36]:
def get_codes(lst):
    return lst[0]['code']

In [37]:
c = cdf['currencies'].apply(get_codes).head()

In [38]:
c

0    AFN
1    EUR
2    ALL
3    DZD
4    USD
Name: currencies, dtype: object

In [39]:
def get_all_codes(lst):
    codes = []
    for c in lst:
        if 'code' in c and c['code'] is not None:
           codes.append( c['code'])
        
    return ",".join(codes)

In [40]:
cdf['currencies'].apply(get_all_codes).head(25)

0         AFN
1         EUR
2         ALL
3         DZD
4         USD
5         EUR
6         AOA
7         XCD
8     AUD,GBP
9         XCD
10        ARS
11        AMD
12        AWG
13        AUD
14        EUR
15        AZN
16        BSD
17        BHD
18        BDT
19        BBD
20    BYN,BYR
21        EUR
22        BZD
23        XOF
24        BMD
Name: currencies, dtype: object

In [41]:
cdf.loc[8,'currencies']

[{'code': 'AUD', 'name': 'Australian dollar', 'symbol': '$'},
 {'code': 'GBP', 'name': 'British pound', 'symbol': '£'}]

In [42]:
cdf.at[8,'currencies']

[{'code': 'AUD', 'name': 'Australian dollar', 'symbol': '$'},
 {'code': 'GBP', 'name': 'British pound', 'symbol': '£'}]

In [43]:
cor = 10000000

In [44]:
cdf[cdf['borders'].str]

AttributeError: 'StringMethods' object has no attribute '_constructor'

In [ ]:
def  has_border(lst):
    return len(lst) > 0

def  has_no_border(lst):
     return  len(lst) == 0

In [ ]:
cdf[cdf['borders'].apply(has_no_border)].head()

In [ ]:
cdf.info()

In [ ]:
cdf['area'].sort_values(ascending=False).head()

In [ ]:
top5 =

In [ ]:
cdf.loc[top5.index,['name','region','area','population']]

In [ ]:
cdf[ (cdf['region'] == 'Asia') & (cdf['area'] > 3000000) ]

In [ ]:
cdf.at[0,'alpha3Code']

In [ ]:
cdf.sample(n=10)

In [ ]:
cdf[ ['name','capital','region']].isin({'region': ['Asia','Africa']})

In [ ]:
cdf.info()

In [ ]:
top_den_cl = (cdf['population'] / cdf['area']).sort_values(ascending=False).head()
top_den_cl

In [ ]:
cdf.loc[top_den_cl.index]

In [ ]:
nd = pd.DataFrame({'name' : cdf['name'], 'borders' : cdf['borders'].str.join(",")})

In [ ]:
nd

In [ ]:
sales

In [ ]:
sales.loc[:,['City','Units']].apply(lambda s : s.count())

In [ ]:
sales.applymap(lambda v : 'Null' if v is np.nan else v)

In [ ]:
sales

In [ ]:
sales.info()

In [ ]:
sales = sales.append( {'Month':'FEB','Book' : 'B300', 'City': 'VZG','Units' : 10}, ignore_index=True)

In [ ]:
sales

In [ ]:
sales.loc[:5, ['Year']] = 2018

In [ ]:
sales['Diff'] = sales['Units'] - 5

In [ ]:
sales.drop(['Year','Diff'], axis=1, inplace=True)

In [ ]:
sales

In [45]:
cdf['strborders'] = cdf['borders'].str.join(",")

In [47]:
cdf['strborders'].head()

0        IRN,PAK,TKM,UZB,TJK,CHN
1
2                MNE,GRC,MKD,KOS
3    TUN,LBY,NER,ESH,MRT,MLI,MAR
4
Name: strborders, dtype: object

In [48]:
cdf.head()

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations,strborders
0,AF,AFG,"[AF, Afġānistān]",652230.0,"[IRN, PAK, TKM, UZB, TJK, CHN]",[93],Kabul,AFG,"[{'code': 'AFN', 'name': 'Afghan afghani', 'sy...",Afghan,...,افغانستان,004,27657145,Asia,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",Southern Asia,[UTC+04:30],[.af],"{'de': 'Afghanistan', 'es': 'Afganistán', 'fr'...","IRN,PAK,TKM,UZB,TJK,CHN"
1,AX,ALA,"[AX, Aaland, Aland, Ahvenanmaa]",1580.0,[],[358],Mariehamn,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Ålandish,...,Åland,248,28875,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Northern Europe,[UTC+02:00],[.ax],"{'de': 'Åland', 'es': 'Alandia', 'fr': 'Åland'...",
2,AL,ALB,"[AL, Shqipëri, Shqipëria, Shqipnia]",28748.0,"[MNE, GRC, MKD, KOS]",[355],Tirana,ALB,"[{'code': 'ALL', 'name': 'Albanian lek', 'symb...",Albanian,...,Shqipëria,008,2886026,Europe,"[{'acronym': 'CEFTA', 'name': 'Central Europea...",Southern Europe,[UTC+01:00],[.al],"{'de': 'Albanien', 'es': 'Albania', 'fr': 'Alb...","MNE,GRC,MKD,KOS"
3,DZ,DZA,"[DZ, Dzayer, Algérie]",2381741.0,"[TUN, LBY, NER, ESH, MRT, MLI, MAR]",[213],Algiers,ALG,"[{'code': 'DZD', 'name': 'Algerian dinar', 'sy...",Algerian,...,الجزائر,012,40400000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Northern Africa,[UTC+01:00],[.dz],"{'de': 'Algerien', 'es': 'Argelia', 'fr': 'Alg...","TUN,LBY,NER,ESH,MRT,MLI,MAR"
4,AS,ASM,"[AS, Amerika Sāmoa, Amelika Sāmoa, Sāmoa Amelika]",199.0,[],[1684],Pago Pago,ASA,"[{'code': 'USD', 'name': 'United State Dollar'...",American Samoan,...,American Samoa,016,57100,Oceania,[],Polynesia,[UTC-11:00],[.as],"{'de': 'Amerikanisch-Samoa', 'es': 'Samoa Amer...",

In [49]:
df = pd.DataFrame({'c1':[1,2], 'c2': [100,200]})

In [50]:
df

   c1   c2
0   1  100
1   2  200

In [54]:
df = df.set_index('c1')

In [55]:
df

     c2
c1
1   100
2   200

In [56]:
df.loc[2,:]

c2    200
Name: 2, dtype: int64

In [57]:
cdf.set_index(['alpha3Code'])

,alpha2Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,flag,...,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations,strborders
alpha3Code,,,,,,,,,,,,,,,,,,,,,
AFG,AF,"[AF, Afġānistān]",652230.0,"[IRN, PAK, TKM, UZB, TJK, CHN]",[93],Kabul,AFG,"[{'code': 'AFN', 'name': 'Afghan afghani', 'sy...",Afghan,https://restcountries.eu/data/afg.svg,...,افغانستان,004,27657145,Asia,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",Southern Asia,[UTC+04:30],[.af],"{'de': 'Afghanistan', 'es': 'Afganistán', 'fr'...","IRN,PAK,TKM,UZB,TJK,CHN"
ALA,AX,"[AX, Aaland, Aland, Ahvenanmaa]",1580.0,[],[358],Mariehamn,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Ålandish,https://restcountries.eu/data/ala.svg,...,Åland,248,28875,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Northern Europe,[UTC+02:00],[.ax],"{'de': 'Åland', 'es': 'Alandia', 'fr': 'Åland'...",
ALB,AL,"[AL, Shqipëri, Shqipëria, Shqipnia]",28748.0,"[MNE, GRC, MKD, KOS]",[355],Tirana,ALB,"[{'code': 'ALL', 'name': 'Albanian lek', 'symb...",Albanian,https://restcountries.eu/data/alb.svg,...,Shqipëria,008,2886026,Europe,"[{'acronym': 'CEFTA', 'name': 'Central Europea...",Southern Europe,[UTC+01:00],[.al],"{'de': 'Albanien', 'es': 'Albania', 'fr': 'Alb...","MNE,GRC,MKD,KOS"
DZA,DZ,"[DZ, Dzayer, Algérie]",2381741.0,"[TUN, LBY, NER, ESH, MRT, MLI, MAR]",[213],Algiers,ALG,"[{'code': 'DZD', 'name': 'Algerian dinar', 'sy...",Algerian,https://restcountries.eu/data/dza.svg,...,الجزائر,012,40400000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Northern Africa,[UTC+01:00],[.dz],"{'de': 'Algerien', 'es': 'Argelia', 'fr': 'Alg...","TUN,LBY,NER,ESH,MRT,MLI,MAR"
ASM,AS,"[AS, Amerika Sāmoa, Amelika Sāmoa, Sāmoa Amelika]",199.0,[],[1684],Pago Pago,ASA,"[{'code': 'USD', 'name': 'United State Dollar'...",American Samoan,https://restcountries.eu/data/asm.svg,...,American Samoa,016,57100,Oceania,[],Polynesia,[UTC-11:00],[.as],"{'de': 'Amerikanisch-Samoa', 'es': 'Samoa Amer...",
AND,AD,"[AD, Principality of Andorra, Principat d'Ando...",468.0,"[FRA, ESP]",[376],Andorra la Vella,AND,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Andorran,https://restcountries.eu/data/and.svg,...,Andorra,020,78014,Europe,[],Southern Europe,[UTC+01:00],[.ad],"{'de': 'Andorra', 'es': 'Andorra', 'fr': 'Ando...","FRA,ESP"
AGO,AO,"[AO, República de Angola, ʁɛpublika de an'ɡɔla]",1246700.0,"[COG, COD, ZMB, NAM]",[244],Luanda,ANG,"[{'code': 'AOA', 'name': 'Angolan kwanza', 'sy...",Angolan,https://restcountries.eu/data/ago.svg,...,Angola,024,25868000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Middle Africa,[UTC+01:00],[.ao],"{'de': 'Angola', 'es': 'Angola', 'fr': 'Angola...","COG,COD,ZMB,NAM"
AIA,AI,[AI],91.0,[],[1264],The Valley,,"[{'code': 'XCD', 'name': 'East Caribbean dolla...",Anguillian,https://restcountries.eu/data/aia.svg,...,Anguilla,660,13452,Americas,[],Caribbean,[UTC-04:00],[.ai],"{'de': 'Anguilla', 'es': 'Anguilla', 'fr': 'An...",
ATA,AQ,[],14000000.0,[],[672],,,"[{'code': 'AUD', 'name': 'Australian dollar', ...",,https://restcountries.eu/data/ata.svg,...,Antarctica,010,1000,Polar,[],,"[UTC-03:00, UTC+03:00, UTC+05:00, UTC+06:00, U...",[.aq],"{'de': 'Antarktika', 'es': 'Antártida', 'fr': ...",
ATG,AG,[AG],442.0,[],[1268],Saint John's,ANT,"[{'code': 'XCD', 'name': 'East Caribbean dolla...","Antiguan, Barbudan",https://restcountries.eu/data/atg.svg,...,Antigua and Barbuda,028,86295,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.ag],"{'de': 'Antigua und Barbuda', 'es': 'Antigua y...",
ARG,AR,"[AR, Argentine Republic, República Argentina]",2780400.0,"[BOL, BRA, CHL, PRY, URY]",[54],Buenos Aires,ARG,"[{'code': 'ARS', 'name': 'Argentine peso', 'sy...",Argentinean,https://restcountries.eu/data/arg.svg,...,Argentina,032,43590400,Americas,"[{'acronym': 'USAN', 'name': 'Union of South A...",South America,[UTC-03:00],[.ar],"{'de': 'Argentinien', 'es': 'Argentina', 'fr':...","BOL,BRA,CHL,PRY,URY"
ARM,AM,"[AM, Hayastan, Republic of Armenia, Հայաստանի ...",29743.0,"[AZE, GEO, IRN, TUR]",[374],Yerevan,ARM,"[{'code': 'AMD', 'name': 'Armenian dram', 'sym...",Armenian,https://restcountries.eu/data/arm.svg,...,Հայաստան,051,2994400,Asia,"[{'acronym': 'EEU', 'name': 'Eurasian Economic...",Western Asia,[UTC+04:00],[.am],"{'de': 'Armenien', 'es': 'Armenia', 'fr': 'Arm...","AZE,GEO,IRN,TUR"
ABW,AW,[AW],180.0,[],[297],Oranjestad,ARU,"[{'code': 'AWG', 'name': 'Aruban florin', 'sym...",Aruban,https://restcountries.eu/data/abw.svg,...,Aruba,533,107394,Americas,[],Caribbean,[UTC-04:00],[.aw],"{'de': 'Aruba', 'es': 'Aruba', 'fr': 'Aruba', ...",
AUS,AU,[AU],7692024.0,[],[61],Canberra,AUS,"[{'code': 'AUD', 'name': 'Australian dollar', ...",Australian,https://restcountries.eu/data/aus.svg,...,Australia,036,24117360,Oceania,[],Australia and New Zealand,"[UTC+05:00, UTC+06:30, UTC+07:00, UTC+08:00, U...",[.au],"{'de': 'Australien', 'es': 'Australia', 'fr': ...",
AUT,AT,"[AT, Österreich, Osterreich, Oesterreich]",83871.0,"[CZE, DEU, HUN, ITA, LIE, SVK, SVN, CHE]",[43],Vienna,AUT,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Austrian,https://restcountries.eu/data/aut.svg,...,Österreich,040,8725931,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Western Europe,[UTC+01:00],[.at],"{'de': 'Österreich', 'es': 'Austria', 'fr': 'A...","CZE,DEU,HUN,ITA,LIE,SVK,SVN,CHE"
AZE,AZ,"[AZ, Republic of Azerbaijan, Azərbaycan Respub...",86600.0,"[ARM, GEO, IRN, RUS, TUR]",[994],Baku,AZE,"[{'code': 'AZN', 'name': 'Azerbaijani manat', ...",Azerbaijani,https://restcountries.eu/data/aze.svg,...,Azərbaycan,031,9730500,Asia,[],Western Asia,[UTC+04:00],[.az],"{'de': 'Aserbaidschan', 'es': 'Azerbaiyán', 'f...","ARM,GEO,IRN,RUS,TUR"
BHS,BS,"[BS, Commonwealth of the Bahamas]",13943.0,[],[1242],Nassau,BAH,"[{'code': 'BSD', 'name': 'Bahamian dollar', 's...",Bahamian,https://restcountries.eu/data/bhs.svg,...,Bahamas,044,378040,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-05:00],[.bs],"{'de': 'Bahamas', 'es': 'Bahamas', 'fr': 'Baha...",
BHR,BH,"[BH, Kingdom of Bahrain, Mamlakat al-Baḥrayn]",765.0,[],[973],Manama,BRN,"[{'code': 'BHD', 'name': 'Bahraini dinar', 'sy...",Bahraini,https://restcountries.eu/data/bhr.svg,...,‏البحرين,048,1404900,Asia,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",Western Asia,[UTC+03:00],[.bh],"{'de': 'Bahrain', 'es': 'Bahrein', 'fr': 'Bahr...",
BGD,BD,"[BD, People's Republic of Bangladesh, Gônôprôj...",147570.0,"[MMR, IND]",[880],Dhaka,BAN,"[{'code': 'BDT', 'name': 'Bangladeshi taka', '...",Bangladeshi,https://restcountries.eu/data/bgd.svg,...,Bangladesh,050,161006790,Asia,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",Southern Asia,[UTC+06:00],[.bd],"{'de': 'Bangladesch', 'es': 'Bangladesh', 'fr'...","MMR,IND"
BRB,BB,[BB],430.0,[],[1246],Bridgetown,BAR,"[{'code': 'BBD', 'name': 'Barbadian dollar', '...",Barbadian,https://restcountries.eu/data/brb.svg,...,Barbados,052,285000,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.bb],"{'de': 'Barbados', 'es': 'Barbados', 'fr': 'Ba...",
BLR,BY,"[BY, Bielaruś, Republic of Belarus, Белоруссия...",207600.0,"[LVA, LTU, POL, RUS, UKR]",[375],Minsk,BLR,"[{'code': 'BYN', 'name': 'New Belarusian ruble...",Belarusian,https://restcountries.eu/data/blr.svg,...,Белару́сь,112,9498700,Europe,"[{'acronym': 'EEU', 'name': 'Eurasian Economic...",Eastern Europe,[UTC+03:00],[.by],"{'de': 'Weißrussland', 'es': 'Bielorrusia', 'f...","LVA,LTU,POL,RUS,UKR"
BEL,BE,"[BE, België, Belgie, Belgien, Belgique, Kingdo...",30528.0,"[FRA, DEU, LUX, NLD]",[32],Brussels,BEL,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Belgian,https://restcountries.eu/data/bel.svg,...,België,056,11319511,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Western Europe,[UTC+01:00],[.be],"{'de': 'Belgien', 'es': 'Bélgica', 'fr': 'Belg...","FRA,DEU,LUX,NLD"
BLZ,BZ,[BZ],22966.0,"[GTM, MEX]",[501],Belmopan,BIZ,"[{'code': 'BZD', 'name': 'Belize dollar', 'sym...",Belizean,https://restcountries.eu/data/blz.svg,...,Belize,084,370300,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Central America,[UTC-06:00],[.bz],"{'de': 'Belize', 'es': 'Belice', 'fr': 'Belize...","GTM,MEX"
BEN,BJ,"[BJ, Republic of Benin, République du Bénin]",112622.0,"[BFA, NER, NGA, TGO]",[229],Porto-Novo,BEN,"[{'code': 'XOF', 'name': 'West African CFA fra...",Beninese,https://restcountries.eu/data/ben.svg,...,Bénin,204,10653654,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Western Africa,[UTC+01:00],[.bj],"{'de': 'Benin', 'es': 'Benín', 'fr': 'Bénin', ...","BFA,NER,NGA,TGO"
BMU,BM,"[BM, The Islands of Bermuda, The Bermudas, Som...",54.0,[],[1441],Hamilton,BER,"[{'code': 'BMD', 'name': 'Bermudian dollar', '...",Bermudian,https://restcountries.eu/data/bmu.svg,...,Bermuda,060,61954,Americas,[],Northern America,[UTC-04:00],[.bm],"{'de': 'Bermuda', 'es': 'Bermudas', 'fr': 'Ber...",
BTN,BT,"[BT, Kingdom of Bhutan]",38394.0,"[CHN, IND]",[975],Thimphu,BHU,"[{'code': 'BTN', 'name': 'Bhutanese ngultrum',...",Bhutanese,https://restcountries.eu/data/btn.svg,...,ʼbrug-yul,064,775620,Asia,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",Southern Asia,[UTC+06:00],[.bt],"{'de': 'Bhutan', 'es': 'Bután', 'fr': 'Bhoutan...","CHN,IND"
BOL,BO,"[BO, Buliwya, Wuliwya, Plurinational State of ...",1098581.0,"[ARG, BRA, CHL, PRY, PER]",[591],Sucre,BOL,"[{'code': 'BOB', 'name': 'Bolivian boliviano',...",Bolivian,https://restcountries.eu/data/bol.svg,...,Bolivia,068,10985059,Americas,"[{'acronym': 'USAN', 'name': 'Union of South A...",South America,[UTC-04:00],[.bo],"{'de': 'Bolivien', 'es': 'Bolivia', 'fr': 'Bol...","ARG,BRA,CHL,PRY,PER"
BES,BQ,"[BQ, Boneiru]",294.0,[],[5997],Kralendijk,None,"[{'code': 'USD', 'name': 'United States dollar...",Dutch,https://restcountries.eu/data/bes.svg,...,Bonaire,535,17408,Americas,[],Caribbean,[UTC-04:00],"[.an, .nl]","{'de': 'Bonaire, Sint Eustatius und Saba', 'es...",
BIH,BA,"[BA, Bosnia-Herzegovina, Босна и Херцеговина]",51209.0,"[HRV, MNE, SRB]",[387],Sarajevo,BIH,"[{'code': 'BAM', 'name': 'Bosnia and Herzegovi...","Bosnian, Herzegovinian",https://restcountries.eu/data/bih.svg,...,Bosna i Hercegovina,070,3531159,Europe,"[{'acronym': 'CEFTA', 'name': 'Central Europea...",Southern Europe,[UTC+01:00],[.ba],"{'de': 'Bosnien und Herzegowina', 'es': 'Bosni...","HRV,MNE,SRB"
BWA,BW,"[BW, Republic of Botswana, Lefatshe la Botswana]",582000.0,"[NAM, ZAF, ZMB, ZWE]",[267],Gaborone,BOT,"[{'code': 'BWP', 'name': 'Botswana pula', 'sym...",Motswana,https://restcountries.eu/data/bwa.svg,...,Botswana,072,2141206,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Southern Africa,[UTC+02:00],[.bw],"{'de': 'Botswana', 'es': 'Botswana', 'fr': 'Bo...","NAM,ZAF,ZMB,ZWE"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SYR,SY,"[SY, Syrian Arab Republic, Al-Jumhūrīyah Al-ʻA...",185180.0,"[IRQ, ISR, JOR, LBN, TUR]",[963],Damascus,SYR,"[{'code': 'SYP', 'name': 'Syrian pound', 'symb...",Syrian,https://restcountries.eu/data/syr.svg,...,سوريا,760,18564000,Asia,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",Western Asia,[UTC+02:00],[.sy],"{'de': 'Syrien', 'es': 'Siria', 'fr': 'Syrie',...","IRQ,ISR,JOR,LBN,TUR"
TWN,TW,"[TW, Táiwān, Republic of China, 中華民國, Zhōnghuá...",36193.0,[],[886],Taipei,TPE,"[{'code': 'TWD', 'name': 'New Taiwan dollar', ...",Taiwanese,https://restcountries.eu/data/twn.svg,...,臺灣,158,23503349,Asia,[],Eastern Asia,[UTC+08:00],[.tw],"{'de': 'Taiwan', 'es': 'Taiwán', 'fr': 'Taïwan...",
TJK,TJ,"[TJ, Toçikiston, Republic of Tajikistan, Ҷумҳу...",143100.0,"[AFG, CHN, KGZ, UZB]",[992],Dushanbe,TJK,"[{'code': 'TJS', 'name': 'Tajikistani somoni',...",Tadzhik,https://restcountries.eu/data/tjk.svg,...,Тоҷикистон,762,8593600,Asia,[],Central Asia,[UTC+05:00],[.tj],"{'de': 'Tadschikistan', 'es': 'Tayikistán', 'f...","AFG,CHN,KGZ,UZB"
TZA,TZ,"[TZ, United Republic of Tanzania, Jamhuri ya M...",945087.0,"[BDI, COD, KEN, MWI, MOZ, RWA, UGA, ZMB]",[255],Dodoma,TAN,"[{'code': 'TZS', 'name': 'Tanzanian shilling',...",Tanzanian,https://restcountries.eu/data/tza.svg,...,Tanzania,834,55155000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Eastern Africa,[UTC+03:00],[.tz],"{'de': 'Tansania', 'es': 'Tanzania', 'fr': 'Ta...","BDI,COD,KEN,MWI,MOZ,RWA,UGA,ZMB"
THA,TH,"[TH, Prathet, Thai, Kingdom of Thailand, ราชอา...",513120.0,"[MMR, KHM, LAO, MYS]",[66],Bangkok,THA,"[{'code': 'THB', 'name': 'Thai baht', 'symbol'...",Thai,https://restcountries.eu/data/tha.svg,...,ประเทศไทย,764,65327652,Asia,"[{'acronym': 'ASEAN', 'name': 'Association of ...",South-Eastern Asia,[UTC+07:00],[.th],"{'de': 'Thailand', 'es': 'Tailandia', 'fr': 'T...","MMR,KHM,LAO,MYS"
TLS,TL,"[TL, East Timor, Democratic Republic of Timor-...",14874.0,[IDN],[670],Dili,TLS,"[{'code': 'USD', 'name': 'United States dollar...",East Timorese,https://restcountries.eu/data/tls.svg,...,Timor-Leste,626,1167242,Asia,[],South-Eastern Asia,[UTC+09:00],[.tl],"{'de': 'Timor-Leste', 'es': 'Timor Oriental', ...",IDN
TGO,TG,"[TG, Togolese, Togolese Republic, République T...",56785.0,"[BEN, BFA, GHA]",[228],Lomé,TOG,"[{'code': 'XOF', 'name': 'West African CFA fra...",Togolese,https://restcountries.eu/data/tgo.svg,...,Togo,768,7143000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Western Africa,[UTC],[.tg],"{'de': 'Togo', 'es': 'Togo', 'fr': 'Togo', 'ja...","BEN,BFA,GHA"
TKL,TK,[TK],12.0,[],[690],Fakaofo,,"[{'code': 'NZD', 'name': 'New Zealand dollar',...",Tokelauan,https://restcountries.eu/data/tkl.svg,...,Tokelau,772,1411,Oceania,[],Polynesia,[UTC+13:00],[.tk],"{'de': 'Tokelau', 'es': 'Islas Tokelau', 'fr':...",
TON,TO,[TO],747.0,[],[676],Nuku'alofa,TGA,"[{'code': 'TOP', 'name': 'Tongan paʻanga', 'sy...",Tongan,https://restcountries.eu/data/ton.svg,...,Tonga,776,103252,Oceania,[],Polynesia,[UTC+13:00],[.to],"{'de': 'Tonga', 'es': 'Tonga', 'fr': 'Tonga', ...",
TTO,TT,"[TT, Republic of Trinidad and Tobago]",5130.0,[],[1868],Port of Spain,TTO,"[{'code': 'TTD', 'name': 'Trinidad and Tobago ...",Trinidadian,https://restcountries.eu/data/tto.svg,...,Trinidad and Tobago,780,1349667,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.tt],"{'de': 'Trinidad und Tobago', 'es': 'Trinidad ...",
TUN,TN,"[TN, Republic of Tunisia, al-Jumhūriyyah at-Tū...",163610.0,"[DZA, LBY]",[216],Tunis,TUN,"[{'code': 'TND', 'name': 'Tunisian dinar', 'sy...",Tunisian,https://restcountries.eu/data/tun.svg,...,تونس,788,11154400,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Northern Africa,[UTC+01:00],[.tn],"{'de': 'Tunesien', 'es': 'Túnez', 'fr': 'Tunis...","DZA,LBY"
TUR,TR,"[TR, Turkiye, Republic of Turkey, Türkiye Cumh...",783562.0,"[ARM, AZE, BGR, GEO, GRC, IRN, IRQ, SYR]",[90],Ankara,TUR,"[{'code': 'TRY', 'name': 'Turkish lira', 'symb...",Turkish,https://restcountries.eu/data/tur.svg,...,Türkiye,792,78741053,Asia,[],Western Asia,[UTC+03:00],[.tr],"{'de': 'Türkei', 'es': 'Turquía', 'fr': 'Turqu...","ARM,AZE,BGR,GEO,GRC,IRN,IRQ,SYR"
TKM,TM,[TM],488100.0,"[AFG, IRN, KAZ, UZB]",[993],Ashgabat,TKM,"[{'code': 'TMT', 'name': 'Turkmenistan manat',...",Turkmen,https://restcountries.eu/data/tkm.svg,...,Türkmenistan,795,4751120,Asia,[],Central Asia,[UTC+05:00],[.tm],"{'de': 'Turkmenistan', 'es': 'Turkmenistán', '...","AFG,IRN,KAZ,UZB"
TCA,TC,[TC],948.0,[],[1649],Cockburn Town,,"[{'code': 'USD', 'name': 'United States dollar...",Turks and Caicos Islander,https://restcountries.eu/data/tca.svg,...,Turks and Caicos Islands,796,31458,Americas,[],Caribbean,[UTC-04:00],[.tc],"{'de': 'Turks- und Caicosinseln', 'es': 'Islas...",
TUV,TV,[TV],26.0,[],[688],Funafuti,TUV,"[{'code': 'AUD', 'name': 'Australian dollar', ...",Tuvaluan,https://restcountries.eu/data/tuv.svg,...,Tuvalu,798,10640,Oceania,[],Polynesia,[UTC+12:00],[.tv],"{'de': 'Tuvalu', 'es': 'Tuvalu', 'fr': 'Tuvalu...",
UGA,UG,"[UG, Republic of Uganda, Jamhuri ya Uganda]",241550.0,"[COD, KEN, RWA, SSD, TZA]",[256],Kampala,UGA,"[{'code': 'UGX', 'name': 'Ugandan shilling', '...",Ugandan,https://restcountries.eu/data/uga.svg,...,Uganda,800,33860700,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Eastern Africa,[UTC+03:00],[.ug],"{'de': 'Uganda', 'es': 'Uganda', 'fr': 'Uganda...","COD,KEN,RWA,SSD,TZA"
UKR,UA,"[UA, Ukrayina]",603700.0,"[BLR, HUN, MDA, POL, ROU, RUS, SVK]",[380],Kiev,UKR,"[{'code': 'UAH', 'name': 'Ukrainian hryvnia', ...",Ukrainian,https://restcountries.eu/data/ukr.svg,...,Україна,804,42692393,Europe,[],Eastern Europe,[UTC+02:00],[.ua],"{'de': 'Ukraine', 'es': 'Ucrania', 'fr': 'Ukra...","BLR,HUN,MDA,POL,ROU,RUS,SVK"
ARE,AE,"[AE, UAE]",83600.0,"[OMN, SAU]",[971],Abu Dhabi,UAE,"[{'code': 'AED', 'name': 'United Arab Emirates...",Emirati,https://restcountries.eu/data/are.svg,...,دولة الإمارات العربية المتحدة,784,9856000,Asia,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",Western Asia,[UTC+04],[.ae],"{'de': 'Vereinigte Arabische Emirate', 'es': '...","OMN,SAU"
GBR,GB,"[GB, UK, Great Britain]",242900.0,[IRL],[44],London,GBR,"[{'code': 'GBP', 'name': 'British pound', 'sym...",British,https://restcountries.eu/data/gbr.svg,...,United Kingdom,826,65110000,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Northern Europe,"[UTC-08:00, UTC-05:00, UTC-04:00, UTC-03:00, U...",[.uk],"{'de': 'Vereinigtes Königreich', 'es': 'Reino ...",IRL
USA,US,"[US, USA, United States of America]",9629091.0,"[CAN, MEX]",[1],"Washington, D.C.",USA,"[{'code': 'USD', 'name': 'United States dollar...",American,https://restcountries.eu/data/usa.svg,...,United States,840,323947000,Americas,"[{'acronym': 'NAFTA', 'name': 'North American ...",Northern America,"[UTC-12:00, UTC-11:00, UTC-10:00, UTC-09:00, U...",[.us],"{'de': 'Vereinigte Staaten von Amerika', 'es':...","CAN,MEX"
URY,UY,"[UY, Oriental Republic of Uruguay, República O...",181034.0,"[ARG, BRA]",[598],Montevideo,URU,"[{'code': 'UYU', 'name': 'Uruguayan peso', 'sy...",Uruguayan,https://restcountries.eu/data/ury.svg,...,Uruguay,858,3480222,Americas,"[{'acronym': 'USAN', 'name': 'Union of South A...",South America,[UTC-03:00],[.uy],"{'de': 'Uruguay', 'es': 'Uruguay', 'fr': 'Urug...","ARG,BRA"
UZB,UZ,"[UZ, Republic of Uzbekistan, O‘zbekiston Respu...",447400.0,"[AFG, KAZ, KGZ, TJK, TKM]",[998],Tashkent,UZB,"[{'code': 'UZS', 'name': 'Uzbekistani so'm', '...",Uzbekistani,https://restcountries.eu/data/uzb.svg,...,O‘zbekiston,860,31576400,Asia,[],Central Asia,[UTC+05:00],[.uz],"{'de': 'Usbekistan', 'es': 'Uzbekistán', 'fr':...","AFG,KAZ,KGZ,TJK,TKM"
VUT,VU,"[VU, Republic of Vanuatu, Ripablik blong Vanua...",12189.0,[],[678],Port Vila,VAN,"[{'code': 'VUV', 'name': 'Vanuatu vatu', 'symb...",Ni-Vanuatu,https://restcountries.eu/data/vut.svg,...,Vanuatu,548,277500,Oceania,[],Melanesia,[UTC+11:00],[.vu],"{'de': 'Vanuatu', 'es': 'Vanuatu', 'fr': 'Vanu...",
VEN,VE,"[VE, Bolivarian Republic of Venezuela, Repúbli...",916445.0,"[BRA, COL, GUY]",[58],Caracas,VEN,"[{'code': 'VEF', 'name': 'Venezuelan bolívar',...",Venezuelan,https://restcountries.eu/data/ven.svg,...,Venezuela,862,31028700,Americas,"[{'acronym': 'USAN', 'name': 'Union of South A...",South America,[UTC-04:00],[.ve],"{'de': 'Venezuela', 'es': 'Venezuela', 'fr': '...","BRA,COL,GUY"
VNM,VN,"[VN, Socialist Republic of Vietnam, Cộng hòa X...",331212.0,"[KHM, CHN, LAO]",[84],Hanoi,VIE,"[{'code': 'VND', 'name': 'Vietnamese đồng', 's...",Vietnamese,https://restcountries.eu/data/vnm.svg,...,Việt Nam,704,92700000,Asia,"[{'acronym': 'ASEAN', 'name': 'Association of ...",South-Eastern Asia,[UTC+07:00],[.vn],"{'de': 'Vietnam', 'es': 'Vietnam', 'fr': 'Viêt...","KHM,CHN,LAO"
WLF,WF,"[WF, Territory of the Wallis and Futuna Island...",142.0,[],[681],Mata-Utu,,"[{'code': 'XPF', 'name': 'CFP franc', 'symbol'...",Wallis and Futuna Islander,https://restcountries.eu/data/wlf.svg,...,Wallis et Futuna,876,11750,Oceania,[],Polynesia,[UTC+12:00],[.wf],"{'de': 'Wallis und Futuna', 'es': 'Wallis y Fu...",

In [58]:
sales

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0
5   MAR  B100  HYD   10.0
6   JAN  B200  VZG   14.0
7   FEB  B200  HYD    NaN
8   MAR  B200  NaN    4.0

In [59]:
sales.sort_values(['Month'])

  Month  Book City  Units
1   FEB  B100  VZG    4.0
4   FEB  B100  HYD   40.0
7   FEB  B200  HYD    NaN
0   JAN  B100  VZG   10.0
3   JAN  B100  HYD   30.0
6   JAN  B200  VZG   14.0
2   MAR  B100  VZG   13.0
5   MAR  B100  HYD   10.0
8   MAR  B200  NaN    4.0

In [60]:
sales.sort_index()

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0
5   MAR  B100  HYD   10.0
6   JAN  B200  VZG   14.0
7   FEB  B200  HYD    NaN
8   MAR  B200  NaN    4.0

In [62]:
sdf = sales.copy()

In [65]:
sdf.drop([4],axis=0, inplace=True)

In [69]:
sdf = sdf.reset_index()

In [73]:
sdf.columns

Index(['index', 'Month', 'Book', 'City', 'Units'], dtype='object')

In [75]:
sdf.drop(['index'], axis=1, inplace=True)

In [76]:
sdf

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   MAR  B100  HYD   10.0
5   JAN  B200  VZG   14.0
6   FEB  B200  HYD    NaN
7   MAR  B200  NaN    4.0

In [77]:
sales.sort_values(['Month','Book','City'])

  Month  Book City  Units
4   FEB  B100  HYD   40.0
1   FEB  B100  VZG    4.0
7   FEB  B200  HYD    NaN
3   JAN  B100  HYD   30.0
0   JAN  B100  VZG   10.0
6   JAN  B200  VZG   14.0
5   MAR  B100  HYD   10.0
2   MAR  B100  VZG   13.0
8   MAR  B200  NaN    4.0

In [78]:
cdf['region'].value_counts()

Africa      60
Americas    57
Europe      53
Asia        50
Oceania     27
             2
Polar        1
Name: region, dtype: int64

In [81]:
sales['Book'].value_counts()

B100    6
B200    3
Name: Book, dtype: int64

In [82]:
sales

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0
5   MAR  B100  HYD   10.0
6   JAN  B200  VZG   14.0
7   FEB  B200  HYD    NaN
8   MAR  B200  NaN    4.0

In [84]:
cdf['region'].nunique()

7

In [88]:
sales.isna().any(axis=1)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8     True
dtype: bool

In [89]:
sales.loc[ sales.isna().any(axis=1), :]

  Month  Book City  Units
7   FEB  B200  HYD    NaN
8   MAR  B200  NaN    4.0

In [91]:
sales['Book'].isna().any()

False

In [92]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
Month    9 non-null object
Book     9 non-null object
City     8 non-null object
Units    8 non-null float64
dtypes: float64(1), object(3)
memory usage: 368.0+ bytes

In [94]:
sales.loc[ :,sales.notna().all()]

  Month  Book
0   JAN  B100
1   FEB  B100
2   MAR  B100
3   JAN  B100
4   FEB  B100
5   MAR  B100
6   JAN  B200
7   FEB  B200
8   MAR  B200

In [98]:
sales.dropna()

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0
5   MAR  B100  HYD   10.0
6   JAN  B200  VZG   14.0

In [99]:
sales.fillna(0)

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0
5   MAR  B100  HYD   10.0
6   JAN  B200  VZG   14.0
7   FEB  B200  HYD    0.0
8   MAR  B200    0    4.0