In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.arange(9).reshape(3,3))

In [4]:
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
0    3 non-null int32
1    3 non-null int32
2    3 non-null int32
dtypes: int32(3)
memory usage: 116.0 bytes

In [6]:
df = pd.DataFrame(np.arange(9).reshape(3,3), columns=list("ABC"))

In [7]:
df

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [8]:
df['A']

0    0
1    3
2    6
Name: A, dtype: int32

In [9]:
df[['A','C']]

   A  C
0  0  2
1  3  5
2  6  8

In [10]:
df['A'][1]

3

In [11]:
df.A  # Not recom.

0    0
1    3
2    6
Name: A, dtype: int32

In [12]:
df[:2]['A']

0    0
1    3
Name: A, dtype: int32

In [13]:
df[:1][:]

   A  B  C
0  0  1  2

In [14]:
sales = pd.read_csv('sales.txt')

In [15]:
sales

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0
5   MAR  B100  HYD   10.0
6   JAN  B200  VZG   14.0
7   FEB  B200  HYD    NaN
8   MAR  B200  NaN    4.0

In [16]:
sales.describe()

          Units
count   8.00000
mean   15.62500
std    12.78322
min     4.00000
25%     8.50000
50%    11.50000
75%    18.00000
max    40.00000

In [17]:
sales.describe(include='all')

       Month  Book City     Units
count      9     9    8   8.00000
unique     3     2    2       NaN
top      JAN  B100  VZG       NaN
freq       3     6    4       NaN
mean     NaN   NaN  NaN  15.62500
std      NaN   NaN  NaN  12.78322
min      NaN   NaN  NaN   4.00000
25%      NaN   NaN  NaN   8.50000
50%      NaN   NaN  NaN  11.50000
75%      NaN   NaN  NaN  18.00000
max      NaN   NaN  NaN  40.00000

In [18]:
sales

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0
5   MAR  B100  HYD   10.0
6   JAN  B200  VZG   14.0
7   FEB  B200  HYD    NaN
8   MAR  B200  NaN    4.0

In [19]:
sales

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0
5   MAR  B100  HYD   10.0
6   JAN  B200  VZG   14.0
7   FEB  B200  HYD    NaN
8   MAR  B200  NaN    4.0

In [20]:
sales.loc[0,'Units']

10.0

In [21]:
sales.head()

  Month  Book City  Units
0   JAN  B100  VZG   10.0
1   FEB  B100  VZG    4.0
2   MAR  B100  VZG   13.0
3   JAN  B100  HYD   30.0
4   FEB  B100  HYD   40.0

In [22]:
sales.loc[ sales.City == 'VZG' , ['Book','Units'] ]

   Book  Units
0  B100   10.0
1  B100    4.0
2  B100   13.0
6  B200   14.0

In [23]:
units = sales.loc[ : , 'Units']

In [24]:
type(units)

pandas.core.series.Series

In [25]:
det = sales.loc[ : , ['Book','Units']]

In [26]:
type(det)

pandas.core.frame.DataFrame

In [27]:
sales.index

RangeIndex(start=0, stop=9, step=1)

In [28]:
sales.iloc[0,:]

Month     JAN
Book     B100
City      VZG
Units      10
Name: 0, dtype: object

## Read data about countries

In [29]:
import requests

In [30]:
resp = requests.get("https://restcountries.eu/rest/v2/all")

In [31]:
cdf = pd.DataFrame(resp.json())

In [32]:
cdf.head()

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,name,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations
0,AF,AFG,"[AF, Afġānistān]",652230.0,"[IRN, PAK, TKM, UZB, TJK, CHN]",[93],Kabul,AFG,"[{'code': 'AFN', 'name': 'Afghan afghani', 'sy...",Afghan,...,Afghanistan,افغانستان,004,27657145,Asia,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",Southern Asia,[UTC+04:30],[.af],"{'de': 'Afghanistan', 'es': 'Afganistán', 'fr'..."
1,AX,ALA,"[AX, Aaland, Aland, Ahvenanmaa]",1580.0,[],[358],Mariehamn,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Ålandish,...,Åland Islands,Åland,248,28875,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Northern Europe,[UTC+02:00],[.ax],"{'de': 'Åland', 'es': 'Alandia', 'fr': 'Åland'..."
2,AL,ALB,"[AL, Shqipëri, Shqipëria, Shqipnia]",28748.0,"[MNE, GRC, MKD, KOS]",[355],Tirana,ALB,"[{'code': 'ALL', 'name': 'Albanian lek', 'symb...",Albanian,...,Albania,Shqipëria,008,2886026,Europe,"[{'acronym': 'CEFTA', 'name': 'Central Europea...",Southern Europe,[UTC+01:00],[.al],"{'de': 'Albanien', 'es': 'Albania', 'fr': 'Alb..."
3,DZ,DZA,"[DZ, Dzayer, Algérie]",2381741.0,"[TUN, LBY, NER, ESH, MRT, MLI, MAR]",[213],Algiers,ALG,"[{'code': 'DZD', 'name': 'Algerian dinar', 'sy...",Algerian,...,Algeria,الجزائر,012,40400000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Northern Africa,[UTC+01:00],[.dz],"{'de': 'Algerien', 'es': 'Argelia', 'fr': 'Alg..."
4,AS,ASM,"[AS, Amerika Sāmoa, Amelika Sāmoa, Sāmoa Amelika]",199.0,[],[1684],Pago Pago,ASA,"[{'code': 'USD', 'name': 'United State Dollar'...",American Samoan,...,American Samoa,American Samoa,016,57100,Oceania,[],Polynesia,[UTC-11:00],[.as],"{'de': 'Amerikanisch-Samoa', 'es': 'Samoa Amer..."

In [33]:
cdf.describe()

               area        gini    population
count  2.400000e+02  153.000000  2.500000e+02
mean   6.262107e+05   40.177124  2.939655e+07
std    1.950028e+06    9.265119  1.244578e+08
min    4.400000e-01   24.000000  0.000000e+00
25%    1.533250e+03   33.700000  2.029030e+05
50%    7.100650e+04   38.600000  4.648734e+06
75%    4.146432e+05   46.200000  1.803955e+07
max    1.712444e+07   65.800000  1.377422e+09

In [34]:
cdf['population']

0       27657145
1          28875
2        2886026
3       40400000
4          57100
5          78014
6       25868000
7          13452
8           1000
9          86295
10      43590400
11       2994400
12        107394
13      24117360
14       8725931
15       9730500
16        378040
17       1404900
18     161006790
19        285000
20       9498700
21      11319511
22        370300
23      10653654
24         61954
25        775620
26      10985059
27         17408
28       3531159
29       2141206
         ...
220     18564000
221     23503349
222      8593600
223     55155000
224     65327652
225      1167242
226      7143000
227         1411
228       103252
229      1349667
230     11154400
231     78741053
232      4751120
233        31458
234        10640
235     33860700
236     42692393
237      9856000
238     65110000
239    323947000
240      3480222
241     31576400
242       277500
243     31028700
244     92700000
245        11750
246       510713
247     27478000
248     15933883
249     14240168
Name: population, Length: 250, dtype: int64

In [35]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 24 columns):
alpha2Code        250 non-null object
alpha3Code        250 non-null object
altSpellings      250 non-null object
area              240 non-null float64
borders           250 non-null object
callingCodes      250 non-null object
capital           250 non-null object
cioc              247 non-null object
currencies        250 non-null object
demonym           250 non-null object
flag              250 non-null object
gini              153 non-null float64
languages         250 non-null object
latlng            250 non-null object
name              250 non-null object
nativeName        250 non-null object
numericCode       249 non-null object
population        250 non-null int64
region            250 non-null object
regionalBlocs     250 non-null object
subregion         250 non-null object
timezones         250 non-null object
topLevelDomain    250 non-null object
translations      250 non-null object
dtypes: float64(2), int64(1), object(21)
memory usage: 47.0+ KB

## 11-FEB

In [38]:
# cdf[ ['alpha3Code','name','capital','population','area']].head()
cdf.loc[:5, ['alpha3Code','name','capital','population','area']]

  alpha3Code            name           capital  population       area
0        AFG     Afghanistan             Kabul    27657145   652230.0
1        ALA   Åland Islands         Mariehamn       28875     1580.0
2        ALB         Albania            Tirana     2886026    28748.0
3        DZA         Algeria           Algiers    40400000  2381741.0
4        ASM  American Samoa         Pago Pago       57100      199.0
5        AND         Andorra  Andorra la Vella       78014      468.0

In [40]:
c = cdf['currencies'].apply()

In [42]:
def get_codes(lst):
    return lst[0]['code']

In [43]:
c = cdf['currencies'].apply(get_codes).head()

In [44]:
c

0    AFN
1    EUR
2    ALL
3    DZD
4    USD
Name: currencies, dtype: object

In [50]:
def get_all_codes(lst):
    codes = []
    for c in lst:
        if 'code' in c and c['code'] is not None:
           codes.append( c['code'])
        
    return ",".join(codes)

In [52]:
cdf['currencies'].apply(get_all_codes).head(25)

0         AFN
1         EUR
2         ALL
3         DZD
4         USD
5         EUR
6         AOA
7         XCD
8     AUD,GBP
9         XCD
10        ARS
11        AMD
12        AWG
13        AUD
14        EUR
15        AZN
16        BSD
17        BHD
18        BDT
19        BBD
20    BYN,BYR
21        EUR
22        BZD
23        XOF
24        BMD
Name: currencies, dtype: object

In [54]:
cdf.loc[8,'currencies']

[{'code': 'AUD', 'name': 'Australian dollar', 'symbol': '$'},
 {'code': 'GBP', 'name': 'British pound', 'symbol': '£'}]

In [55]:
cdf.at[8,'currencies']

[{'code': 'AUD', 'name': 'Australian dollar', 'symbol': '$'},
 {'code': 'GBP', 'name': 'British pound', 'symbol': '£'}]

In [58]:
cor = 10000000

In [70]:
cdf[cdf['borders'].str]

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,name,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations
1,AX,ALA,"[AX, Aaland, Aland, Ahvenanmaa]",1580.00,[],[358],Mariehamn,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Ålandish,...,Åland Islands,Åland,248,28875,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Northern Europe,[UTC+02:00],[.ax],"{'de': 'Åland', 'es': 'Alandia', 'fr': 'Åland'..."
4,AS,ASM,"[AS, Amerika Sāmoa, Amelika Sāmoa, Sāmoa Amelika]",199.00,[],[1684],Pago Pago,ASA,"[{'code': 'USD', 'name': 'United State Dollar'...",American Samoan,...,American Samoa,American Samoa,016,57100,Oceania,[],Polynesia,[UTC-11:00],[.as],"{'de': 'Amerikanisch-Samoa', 'es': 'Samoa Amer..."
7,AI,AIA,[AI],91.00,[],[1264],The Valley,,"[{'code': 'XCD', 'name': 'East Caribbean dolla...",Anguillian,...,Anguilla,Anguilla,660,13452,Americas,[],Caribbean,[UTC-04:00],[.ai],"{'de': 'Anguilla', 'es': 'Anguilla', 'fr': 'An..."
8,AQ,ATA,[],14000000.00,[],[672],,,"[{'code': 'AUD', 'name': 'Australian dollar', ...",,...,Antarctica,Antarctica,010,1000,Polar,[],,"[UTC-03:00, UTC+03:00, UTC+05:00, UTC+06:00, U...",[.aq],"{'de': 'Antarktika', 'es': 'Antártida', 'fr': ..."
9,AG,ATG,[AG],442.00,[],[1268],Saint John's,ANT,"[{'code': 'XCD', 'name': 'East Caribbean dolla...","Antiguan, Barbudan",...,Antigua and Barbuda,Antigua and Barbuda,028,86295,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.ag],"{'de': 'Antigua und Barbuda', 'es': 'Antigua y..."
12,AW,ABW,[AW],180.00,[],[297],Oranjestad,ARU,"[{'code': 'AWG', 'name': 'Aruban florin', 'sym...",Aruban,...,Aruba,Aruba,533,107394,Americas,[],Caribbean,[UTC-04:00],[.aw],"{'de': 'Aruba', 'es': 'Aruba', 'fr': 'Aruba', ..."
13,AU,AUS,[AU],7692024.00,[],[61],Canberra,AUS,"[{'code': 'AUD', 'name': 'Australian dollar', ...",Australian,...,Australia,Australia,036,24117360,Oceania,[],Australia and New Zealand,"[UTC+05:00, UTC+06:30, UTC+07:00, UTC+08:00, U...",[.au],"{'de': 'Australien', 'es': 'Australia', 'fr': ..."
16,BS,BHS,"[BS, Commonwealth of the Bahamas]",13943.00,[],[1242],Nassau,BAH,"[{'code': 'BSD', 'name': 'Bahamian dollar', 's...",Bahamian,...,Bahamas,Bahamas,044,378040,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-05:00],[.bs],"{'de': 'Bahamas', 'es': 'Bahamas', 'fr': 'Baha..."
17,BH,BHR,"[BH, Kingdom of Bahrain, Mamlakat al-Baḥrayn]",765.00,[],[973],Manama,BRN,"[{'code': 'BHD', 'name': 'Bahraini dinar', 'sy...",Bahraini,...,Bahrain,‏البحرين,048,1404900,Asia,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",Western Asia,[UTC+03:00],[.bh],"{'de': 'Bahrain', 'es': 'Bahrein', 'fr': 'Bahr..."
19,BB,BRB,[BB],430.00,[],[1246],Bridgetown,BAR,"[{'code': 'BBD', 'name': 'Barbadian dollar', '...",Barbadian,...,Barbados,Barbados,052,285000,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.bb],"{'de': 'Barbados', 'es': 'Barbados', 'fr': 'Ba..."
24,BM,BMU,"[BM, The Islands of Bermuda, The Bermudas, Som...",54.00,[],[1441],Hamilton,BER,"[{'code': 'BMD', 'name': 'Bermudian dollar', '...",Bermudian,...,Bermuda,Bermuda,060,61954,Americas,[],Northern America,[UTC-04:00],[.bm],"{'de': 'Bermuda', 'es': 'Bermudas', 'fr': 'Ber..."
27,BQ,BES,"[BQ, Boneiru]",294.00,[],[5997],Kralendijk,None,"[{'code': 'USD', 'name': 'United States dollar...",Dutch,...,"Bonaire, Sint Eustatius and Saba",Bonaire,535,17408,Americas,[],Caribbean,[UTC-04:00],"[.an, .nl]","{'de': 'Bonaire, Sint Eustatius und Saba', 'es..."
30,BV,BVT,"[BV, Bouvetøya, Bouvet-øya]",49.00,[],[],,,"[{'code': 'NOK', 'name': 'Norwegian krone', 's...",,...,Bouvet Island,Bouvetøya,074,0,,[],,[UTC+01:00],[.bv],"{'de': 'Bouvetinsel', 'es': 'Isla Bouvet', 'fr..."
32,IO,IOT,[IO],60.00,[],[246],Diego Garcia,,"[{'code': 'USD', 'name': 'United States dollar...",Indian,...,British Indian Ocean Territory,British Indian Ocean Territory,086,3000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Eastern Africa,[UTC+06:00],[.io],{'de': 'Britisches Territorium im Indischen Oz...
33,UM,UMI,[UM],NaN,[],[],,,"[{'code': 'USD', 'name': 'United States Dollar...",American,...,United States Minor Outlying Islands,United States Minor Outlying Islands,581,300,Americas,[],Northern America,"[UTC-11:00, UTC-10:00, UTC+12:00]",[.us],{'de': 'Kleinere Inselbesitzungen der Vereinig...
34,VG,VGB,[VG],151.00,[],[1284],Road Town,IVB,"[{'code': None, 'name': '[D]', 'symbol': '$'},...",Virgin Islander,...,Virgin Islands (British),British Virgin Islands,092,28514,Americas,[],Caribbean,[UTC-04:00],[.vg],"{'de': 'Britische Jungferninseln', 'es': 'Isla..."
35,VI,VIR,"[VI, USVI, American Virgin Islands, U.S. Virgi...",346.36,[],[1 340],Charlotte Amalie,ISV,"[{'code': 'USD', 'name': 'United States dollar...",Virgin Islander,...,Virgin Islands (U.S.),Virgin Islands of the United States,850,114743,Americas,[],Caribbean,[UTC-04:00],[.vi],"{'de': 'Amerikanische Jungferninseln', 'es': '..."
43,CV,CPV,"[CV, Republic of Cabo Verde, República de Cabo...",4033.00,[],[238],Praia,CPV,"[{'code': 'CVE', 'name': 'Cape Verdean escudo'...",Cape Verdian,...,Cabo Verde,Cabo Verde,132,531239,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Western Africa,[UTC-01:00],[.cv],"{'de': 'Kap Verde', 'es': 'Cabo Verde', 'fr': ..."
44,KY,CYM,[KY],264.00,[],[1345],George Town,CAY,"[{'code': 'KYD', 'name': 'Cayman Islands dolla...",Caymanian,...,Cayman Islands,Cayman Islands,136,58238,Americas,[],Caribbean,[UTC-05:00],[.ky],"{'de': 'Kaimaninseln', 'es': 'Islas Caimán', '..."
49,CX,CXR,"[CX, Territory of Christmas Island]",135.00,[],[61],Flying Fish Cove,,"[{'code': 'AUD', 'name': 'Australian dollar', ...",Christmas Island,...,Christmas Island,Christmas Island,162,2072,Oceania,[],Australia and New Zealand,[UTC+07:00],[.cx],"{'de': 'Weihnachtsinsel', 'es': 'Isla de Navid..."
50,CC,CCK,"[CC, Territory of the Cocos (Keeling) Islands,...",14.00,[],[61],West Island,,"[{'code': 'AUD', 'name': 'Australian dollar', ...",Cocos Islander,...,Cocos (Keeling) Islands,Cocos (Keeling) Islands,166,550,Oceania,[],Australia and New Zealand,[UTC+06:30],[.cc],"{'de': 'Kokosinseln', 'es': 'Islas Cocos o Isl..."
52,KM,COM,"[KM, Union of the Comoros, Union des Comores, ...",1862.00,[],[269],Moroni,COM,"[{'code': 'KMF', 'name': 'Comorian franc', 'sy...",Comoran,...,Comoros,Komori,174,806153,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Eastern Africa,[UTC+03:00],[.km],"{'de': 'Union der Komoren', 'es': 'Comoras', '..."
55,CK,COK,"[CK, Kūki 'Āirani]",236.00,[],[682],Avarua,COK,"[{'code': 'NZD', 'name': 'New Zealand dollar',...",Cook Islander,...,Cook Islands,Cook Islands,184,18100,Oceania,[],Polynesia,[UTC-10:00],[.ck],"{'de': 'Cookinseln', 'es': 'Islas Cook', 'fr':..."
58,CU,CUB,"[CU, Republic of Cuba, República de Cuba]",109884.00,[],[53],Havana,CUB,"[{'code': 'CUC', 'name': 'Cuban convertible pe...",Cuban,...,Cuba,Cuba,192,11239004,Americas,[],Caribbean,[UTC-05:00],[.cu],"{'de': 'Kuba', 'es': 'Cuba', 'fr': 'Cuba', 'ja..."
59,CW,CUW,"[CW, Curacao, Kòrsou, Country of Curaçao, Land...",444.00,[],[599],Willemstad,,"[{'code': 'ANG', 'name': 'Netherlands Antillea...",Dutch,...,Curaçao,Curaçao,531,154843,Americas,[],Caribbean,[UTC-04:00],[.cw],"{'de': 'Curaçao', 'es': None, 'fr': 'Curaçao',..."
64,DM,DMA,"[DM, Dominique, Wai‘tu kubuli, Commonwealth of...",751.00,[],[1767],Roseau,DMA,"[{'code': 'XCD', 'name': 'East Caribbean dolla...",Dominican,...,Dominica,Dominica,212,71293,Americas,[],Caribbean,[UTC-04:00],[.dm],"{'de': 'Dominica', 'es': 'Dominica', 'fr': 'Do..."
73,FK,FLK,"[FK, Islas Malvinas]",12173.00,[],[500],Stanley,,"[{'code': 'FKP', 'name': 'Falkland Islands pou...",Falkland Islander,...,Falkland Islands (Malvinas),Falkland Islands,238,2563,Americas,"[{'acronym': 'USAN', 'name': 'Union of South A...",South America,[UTC-04:00],[.fk],"{'de': 'Falklandinseln', 'es': 'Islas Malvinas..."
74,FO,FRO,"[FO, Føroyar, Færøerne]",1393.00,[],[298],Tórshavn,,"[{'code': 'DKK', 'name': 'Danish krone', 'symb...",Faroese,...,Faroe Islands,Føroyar,234,49376,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Northern Europe,[UTC+00:00],[.fo],"{'de': 'Färöer-Inseln', 'es': 'Islas Faroe', '..."
75,FJ,FJI,"[FJ, Viti, Republic of Fiji, Matanitu ko Viti,...",18272.00,[],[679],Suva,FIJ,"[{'code': 'FJD', 'name': 'Fijian dollar', 'sym...",Fijian,...,Fiji,Fiji,242,867000,Oceania,[],Melanesia,[UTC+12:00],[.fj],"{'de': 'Fidschi', 'es': 'Fiyi', 'fr': 'Fidji',..."
79,PF,PYF,"[PF, Polynésie française, French Polynesia, Pō...",4167.00,[],[689],Papeetē,,"[{'code': 'XPF', 'name': 'CFP franc', 'symbol'...",French Polynesian,...,French Polynesia,Polynésie française,258,271800,Oceania,[],Polynesia,"[UTC-10:00, UTC-09:30, UTC-09:00]",[.pf],"{'de': 'Französisch-Polynesien', 'es': 'Poline..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,NZ,NZL,"[NZ, Aotearoa]",270467.00,[],[64],Wellington,NZL,"[{'code': 'NZD', 'name': 'New Zealand dollar',...",New Zealander,...,New Zealand,New Zealand,554,4697854,Oceania,[],Australia and New Zealand,"[UTC-11:00, UTC-10:00, UTC+12:00, UTC+12:45, U...",[.nz],"{'de': 'Neuseeland', 'es': 'Nueva Zelanda', 'f..."
163,NU,NIU,[NU],260.00,[],[683],Alofi,,"[{'code': 'NZD', 'name': 'New Zealand dollar',...",Niuean,...,Niue,Niuē,570,1470,Oceania,[],Polynesia,[UTC-11:00],[.nu],"{'de': 'Niue', 'es': 'Niue', 'fr': 'Niue', 'ja..."
164,NF,NFK,"[NF, Territory of Norfolk Island, Teratri of N...",36.00,[],[672],Kingston,,"[{'code': 'AUD', 'name': 'Australian dollar', ...",Norfolk Islander,...,Norfolk Island,Norfolk Island,574,2302,Oceania,[],Australia and New Zealand,[UTC+11:30],[.nf],"{'de': 'Norfolkinsel', 'es': 'Isla de Norfolk'..."
166,MP,MNP,"[MP, Commonwealth of the Northern Mariana Isla...",464.00,[],[1670],Saipan,,"[{'code': 'USD', 'name': 'United States dollar...",American,...,Northern Mariana Islands,Northern Mariana Islands,580,56940,Oceania,[],Micronesia,[UTC+10:00],[.mp],"{'de': 'Nördliche Marianen', 'es': 'Islas Mari..."
170,PW,PLW,"[PW, Republic of Palau, Beluu er a Belau]",459.00,[],[680],Ngerulmud,PLW,"[{'code': '(none)', 'name': '[E]', 'symbol': '...",Palauan,...,Palau,Palau,585,17950,Oceania,[],Micronesia,[UTC+09:00],[.pw],"{'de': 'Palau', 'es': 'Palau', 'fr': 'Palaos',..."
176,PH,PHL,"[PH, Republic of the Philippines, Repúblika ng...",342353.00,[],[63],Manila,PHI,"[{'code': 'PHP', 'name': 'Philippine peso', 's...",Filipino,...,Philippines,Pilipinas,608,103279800,Asia,"[{'acronym': 'ASEAN', 'name': 'Association of ...",South-Eastern Asia,[UTC+08:00],[.ph],"{'de': 'Philippinen', 'es': 'Filipinas', 'fr':..."
177,PN,PCN,"[PN, Pitcairn Henderson Ducie and Oeno Islands]",47.00,[],[64],Adamstown,,"[{'code': 'NZD', 'name': 'New Zealand dollar',...",Pitcairn Islander,...,Pitcairn,Pitcairn Islands,612,56,Oceania,[],Polynesia,[UTC-08:00],[.pn],"{'de': 'Pitcairn', 'es': 'Islas Pitcairn', 'fr..."
180,PR,PRI,"[PR, Commonwealth of Puerto Rico, Estado Libre...",8870.00,[],"[1787, 1939]",San Juan,PUR,"[{'code': 'USD', 'name': 'United States dollar...",Puerto Rican,...,Puerto Rico,Puerto Rico,630,3474182,Americas,[],Caribbean,[UTC-04:00],[.pr],"{'de': 'Puerto Rico', 'es': 'Puerto Rico', 'fr..."
183,RE,REU,"[RE, Reunion]",NaN,[],[262],Saint-Denis,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",French,...,Réunion,La Réunion,638,840974,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Eastern Africa,[UTC+04:00],[.re],"{'de': 'Réunion', 'es': 'Reunión', 'fr': 'Réun..."
187,BL,BLM,"[BL, St. Barthelemy, Collectivity of Saint Bar...",21.00,[],[590],Gustavia,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Saint Barthélemy Islander,...,Saint Barthélemy,Saint-Barthélemy,652,9417,Americas,[],Caribbean,[UTC-04:00],[.bl],"{'de': 'Saint-Barthélemy', 'es': 'San Bartolom..."
188,SH,SHN,[SH],NaN,[],[290],Jamestown,None,"[{'code': 'SHP', 'name': 'Saint Helena pound',...",Saint Helenian,...,"Saint Helena, Ascension and Tristan da Cunha",Saint Helena,654,4255,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Western Africa,[UTC+00:00],[.sh],"{'de': 'Sankt Helena', 'es': 'Santa Helena', '..."
189,KN,KNA,"[KN, Federation of Saint Christopher and Nevis]",261.00,[],[1869],Basseterre,SKN,"[{'code': 'XCD', 'name': 'East Caribbean dolla...",Kittian and Nevisian,...,Saint Kitts and Nevis,Saint Kitts and Nevis,659,46204,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.kn],"{'de': 'St. Kitts und Nevis', 'es': 'San Crist..."
190,LC,LCA,[LC],616.00,[],[1758],Castries,LCA,"[{'code': 'XCD', 'name': 'East Caribbean dolla...",Saint Lucian,...,Saint Lucia,Saint Lucia,662,186000,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.lc],"{'de': 'Saint Lucia', 'es': 'Santa Lucía', 'fr..."
192,PM,SPM,"[PM, Collectivité territoriale de Saint-Pierre...",242.00,[],[508],Saint-Pierre,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",French,...,Saint Pierre and Miquelon,Saint-Pierre-et-Miquelon,666,6069,Americas,[],Northern America,[UTC-03:00],[.pm],"{'de': 'Saint-Pierre und Miquelon', 'es': 'San..."
193,VC,VCT,[VC],389.00,[],[1784],Kingstown,VIN,"[{'code': 'XCD', 'name': 'East Caribbean dolla...",Saint Vincentian,...,Saint Vincent and the Grenadines,Saint Vincent and the Grenadines,670,109991,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.vc],"{'de': 'Saint Vincent und die Grenadinen', 'es..."
194,WS,WSM,"[WS, Independent State of Samoa, Malo Saʻoloto...",2842.00,[],[685],Apia,SAM,"[{'code': 'WST', 'name': 'Samoan tālā', 'symbo...",Samoan,...,Samoa,Samoa,882,194899,Oceania,[],Polynesia,[UTC+13:00],[.ws],"{'de': 'Samoa', 'es': 'Samoa', 'fr': 'Samoa', ..."
196,ST,STP,"[ST, Democratic Republic of São Tomé and Prínc...",964.00,[],[239],São Tomé,STP,"[{'code': 'STD', 'name': 'São Tomé and Príncip...",Sao Tomean,...,Sao Tome and Principe,São Tomé e Príncipe,678,187356,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Middle Africa,[UTC],[.st],"{'de': 'São Tomé und Príncipe', 'es': 'Santo T..."
200,SC,SYC,"[SC, Republic of Seychelles, Repiblik Sesel, R...",452.00,[],[248],Victoria,SEY,"[{'code': 'SCR', 'name': 'Seychellois rupee', ...",Seychellois,...,Seychelles,Seychelles,690,91400,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Eastern Africa,[UTC+04:00],[.sc],"{'de': 'Seychellen', 'es': 'Seychelles', 'fr':..."
202,SG,SGP,"[SG, Singapura, Republik Singapura, 新加坡共和国]",710.00,[],[65],Singapore,SIN,"[{'code': 'BND', 'name': 'Brunei dollar', 'sym...",Singaporean,...,Singapore,Singapore,702,5535000,Asia,"[{'acronym': 'ASEAN', 'name': 'Association of ...",South-Eastern Asia,[UTC+08:00],[.sg],"{'de': 'Singapur', 'es': 'Singapur', 'fr': 'Si..."
206,SB,SLB,[SB],28896.00,[],[677],Honiara,SOL,"[{'code': 'SBD', 'name': 'Solomon Islands doll...",Solomon Islander,...,Solomon Islands,Solomon Islands,090,642000,Oceania,[],Melanesia,[UTC+11:00],[.sb],"{'de': 'Salomonen', 'es': 'Islas Salomón', 'fr..."
209,GS,SGS,"[GS, South Georgia and the South Sandwich Isla...",NaN,[],[500],King Edward Point,,"[{'code': 'GBP', 'name': 'British pound', 'sym...",South Georgia and the South Sandwich Islander,...,South Georgia and the South Sandwich Islands,South Georgia,239,30,Americas,"[{'acronym': 'USAN', 'name': 'Union of South A...",South America,[UTC-02:00],[.gs],{'de': 'Südgeorgien und die Südlichen Sandwich...
216,SJ,SJM,"[SJ, Svalbard and Jan Mayen Islands]",NaN,[],[4779],Longyearbyen,,"[{'code': 'NOK', 'name': 'Norwegian krone', 's...",Norwegian,...,Svalbard and Jan Mayen,Svalbard og Jan Mayen,744,2562,Europe,[],Northern Europe,[UTC+01:00],[.sj],"{'de': 'Svalbard und Jan Mayen', 'es': 'Islas ..."
221,TW,TWN,"[TW, Táiwān, Republic of China, 中華民國, Zhōnghuá...",36193.00,[],[886],Taipei,TPE,"[{'code': 'TWD', 'name': 'New Taiwan dollar', ...",Taiwanese,...,Taiwan,臺灣,158,23503349,Asia,[],Eastern Asia,[UTC+08:00],[.tw],"{'de': 'Taiwan', 'es': 'Taiwán', 'fr': 'Taïwan..."
227,TK,TKL,[TK],12.00,[],[690],Fakaofo,,"[{'code': 'NZD', 'name': 'New Zealand dollar',...",Tokelauan,...,Tokelau,Tokelau,772,1411,Oceania,[],Polynesia,[UTC+13:00],[.tk],"{'de': 'Tokelau', 'es': 'Islas Tokelau', 'fr':..."
228,TO,TON,[TO],747.00,[],[676],Nuku'alofa,TGA,"[{'code': 'TOP', 'name': 'Tongan paʻanga', 'sy...",Tongan,...,Tonga,Tonga,776,103252,Oceania,[],Polynesia,[UTC+13:00],[.to],"{'de': 'Tonga', 'es': 'Tonga', 'fr': 'Tonga', ..."
229,TT,TTO,"[TT, Republic of Trinidad and Tobago]",5130.00,[],[1868],Port of Spain,TTO,"[{'code': 'TTD', 'name': 'Trinidad and Tobago ...",Trinidadian,...,Trinidad and Tobago,Trinidad and Tobago,780,1349667,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.tt],"{'de': 'Trinidad und Tobago', 'es': 'Trinidad ..."
233,TC,TCA,[TC],948.00,[],[1649],Cockburn Town,,"[{'code': 'USD', 'name': 'United States dollar...",Turks and Caicos Islander,...,Turks and Caicos Islands,Turks and Caicos Islands,796,31458,Americas,[],Caribbean,[UTC-04:00],[.tc],"{'de': 'Turks- und Caicosinseln', 'es': 'Islas..."
234,TV,TUV,[TV],26.00,[],[688],Funafuti,TUV,"[{'code': 'AUD', 'name': 'Australian dollar', ...",Tuvaluan,...,Tuvalu,Tuvalu,798,10640,Oceania,[],Polynesia,[UTC+12:00],[.tv],"{'de': 'Tuvalu', 'es': 'Tuvalu', 'fr': 'Tuvalu..."
242,VU,VUT,"[VU, Republic of Vanuatu, Ripablik blong Vanua...",12189.00,[],[678],Port Vila,VAN,"[{'code': 'VUV', 'name': 'Vanuatu vatu', 'symb...",Ni-Vanuatu,...,Vanuatu,Vanuatu,548,277500,Oceania,[],Melanesia,[UTC+11:00],[.vu],"{'de': 'Vanuatu', 'es': 'Vanuatu', 'fr': 'Vanu..."
245,WF,WLF,"[WF, Territory of the Wallis and Futuna Island...",142.00,[],[681],Mata-Utu,,"[{'code': 'XPF', 'name': 'CFP franc', 'symbol'...",Wallis and Futuna Islander,...,Wallis and Futuna,Wallis et Futuna,876,11750,Oceania,[],Polynesia,[UTC+12:00],[.wf],"{'de': 'Wallis und Futuna', 'es': 'Wallis y Fu..."

In [77]:
def  has_border(lst):
    return len(lst) > 0

def  has_no_border(lst):
     return  len(lst) == 0

In [78]:
cdf[cdf['borders'].apply(has_no_border)].head()

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,name,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations
1,AX,ALA,"[AX, Aaland, Aland, Ahvenanmaa]",1580.0,[],[358],Mariehamn,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Ålandish,...,Åland Islands,Åland,248,28875,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Northern Europe,[UTC+02:00],[.ax],"{'de': 'Åland', 'es': 'Alandia', 'fr': 'Åland'..."
4,AS,ASM,"[AS, Amerika Sāmoa, Amelika Sāmoa, Sāmoa Amelika]",199.0,[],[1684],Pago Pago,ASA,"[{'code': 'USD', 'name': 'United State Dollar'...",American Samoan,...,American Samoa,American Samoa,016,57100,Oceania,[],Polynesia,[UTC-11:00],[.as],"{'de': 'Amerikanisch-Samoa', 'es': 'Samoa Amer..."
7,AI,AIA,[AI],91.0,[],[1264],The Valley,,"[{'code': 'XCD', 'name': 'East Caribbean dolla...",Anguillian,...,Anguilla,Anguilla,660,13452,Americas,[],Caribbean,[UTC-04:00],[.ai],"{'de': 'Anguilla', 'es': 'Anguilla', 'fr': 'An..."
8,AQ,ATA,[],14000000.0,[],[672],,,"[{'code': 'AUD', 'name': 'Australian dollar', ...",,...,Antarctica,Antarctica,010,1000,Polar,[],,"[UTC-03:00, UTC+03:00, UTC+05:00, UTC+06:00, U...",[.aq],"{'de': 'Antarktika', 'es': 'Antártida', 'fr': ..."
9,AG,ATG,[AG],442.0,[],[1268],Saint John's,ANT,"[{'code': 'XCD', 'name': 'East Caribbean dolla...","Antiguan, Barbudan",...,Antigua and Barbuda,Antigua and Barbuda,028,86295,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.ag],"{'de': 'Antigua und Barbuda', 'es': 'Antigua y..."

In [79]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 24 columns):
alpha2Code        250 non-null object
alpha3Code        250 non-null object
altSpellings      250 non-null object
area              240 non-null float64
borders           250 non-null object
callingCodes      250 non-null object
capital           250 non-null object
cioc              247 non-null object
currencies        250 non-null object
demonym           250 non-null object
flag              250 non-null object
gini              153 non-null float64
languages         250 non-null object
latlng            250 non-null object
name              250 non-null object
nativeName        250 non-null object
numericCode       249 non-null object
population        250 non-null int64
region            250 non-null object
regionalBlocs     250 non-null object
subregion         250 non-null object
timezones         250 non-null object
topLevelDomain    250 non-null object
translations      250 non-null object
dtypes: float64(2), int64(1), object(21)
memory usage: 47.0+ KB

In [81]:
cdf['area'].sort_values(ascending=False).head()

In [82]:
top5 =

185    17124442.0
8      14000000.0
42      9984670.0
48      9640011.0
239     9629091.0
Name: area, dtype: float64

In [89]:
cdf.loc[top5.index,['name','region','area','population']]

                         name    region        area  population
185        Russian Federation    Europe  17124442.0   146599183
8                  Antarctica     Polar  14000000.0        1000
42                     Canada  Americas   9984670.0    36155487
48                      China      Asia   9640011.0  1377422166
239  United States of America  Americas   9629091.0   323947000

In [94]:
cdf[ (cdf['region'] == 'Asia') & (cdf['area'] > 3000000) ]

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,name,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations
48,CN,CHN,"[CN, Zhōngguó, Zhongguo, Zhonghua, People's Re...",9640011.0,"[AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...",[86],Beijing,CHN,"[{'code': 'CNY', 'name': 'Chinese yuan', 'symb...",Chinese,...,China,中国,156,1377422166,Asia,[],Eastern Asia,[UTC+08:00],[.cn],"{'de': 'China', 'es': 'China', 'fr': 'Chine', ..."
104,IN,IND,"[IN, Bhārat, Republic of India, Bharat Ganrajya]",3287590.0,"[AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA]",[91],New Delhi,IND,"[{'code': 'INR', 'name': 'Indian rupee', 'symb...",Indian,...,India,भारत,356,1295210000,Asia,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",Southern Asia,[UTC+05:30],[.in],"{'de': 'Indien', 'es': 'India', 'fr': 'Inde', ..."

In [97]:
cdf.at[0,'alpha3Code']

'AFG'

In [99]:
cdf.sample(n=10)

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,name,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations
60,CY,CYP,"[CY, Kýpros, Kıbrıs, Republic of Cyprus, Κυπρι...",9251.0,[GBR],[357],Nicosia,CYP,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Cypriot,...,Cyprus,Κύπρος,196,847000,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Southern Europe,[UTC+02:00],[.cy],"{'de': 'Zypern', 'es': 'Chipre', 'fr': 'Chypre..."
179,PT,PRT,"[PT, Portuguesa, Portuguese Republic, Repúblic...",92090.0,[ESP],[351],Lisbon,POR,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Portuguese,...,Portugal,Portugal,620,10374822,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Southern Europe,"[UTC-01:00, UTC]",[.pt],"{'de': 'Portugal', 'es': 'Portugal', 'fr': 'Po..."
191,MF,MAF,"[MF, Collectivity of Saint Martin, Collectivit...",53.0,"[SXM, NLD]",[590],Marigot,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Saint Martin Islander,...,Saint Martin (French part),Saint-Martin,663,36979,Americas,[],Caribbean,[UTC-04:00],"[.mf, .fr, .gp]","{'de': 'Saint Martin', 'es': 'Saint Martin', '..."
135,MY,MYS,[MY],330803.0,"[BRN, IDN, THA]",[60],Kuala Lumpur,MAS,"[{'code': 'MYR', 'name': 'Malaysian ringgit', ...",Malaysian,...,Malaysia,Malaysia,458,31405416,Asia,"[{'acronym': 'ASEAN', 'name': 'Association of ...",South-Eastern Asia,[UTC+08:00],[.my],"{'de': 'Malaysia', 'es': 'Malasia', 'fr': 'Mal..."
217,SZ,SWZ,"[SZ, weSwatini, Swatini, Ngwane, Kingdom of Sw...",17364.0,"[MOZ, ZAF]",[268],Lobamba,SWZ,"[{'code': 'SZL', 'name': 'Swazi lilangeni', 's...",Swazi,...,Swaziland,Swaziland,748,1132657,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Southern Africa,[UTC+02:00],[.sz],"{'de': 'Swasiland', 'es': 'Suazilandia', 'fr':..."
131,MO,MAC,"[MO, 澳门, Macao Special Administrative Region o...",30.0,[CHN],[853],,,"[{'code': 'MOP', 'name': 'Macanese pataca', 's...",Chinese,...,Macao,澳門,446,649100,Asia,[],Eastern Asia,[UTC+08:00],[.mo],"{'de': 'Macao', 'es': 'Macao', 'fr': 'Macao', ..."
157,NL,NLD,"[NL, Holland, Nederland]",41850.0,"[BEL, DEU]",[31],Amsterdam,NED,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Dutch,...,Netherlands,Nederland,528,17019800,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Western Europe,"[UTC-04:00, UTC+01:00]",[.nl],"{'de': 'Niederlande', 'es': 'Países Bajos', 'f..."
54,CD,COD,"[CD, DR Congo, Congo-Kinshasa, DRC]",2344858.0,"[AGO, BDI, CAF, COG, RWA, SSD, TZA, UGA, ZMB]",[243],Kinshasa,COD,"[{'code': 'CDF', 'name': 'Congolese franc', 's...",Congolese,...,Congo (Democratic Republic of the),République démocratique du Congo,180,85026000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Middle Africa,"[UTC+01:00, UTC+02:00]",[.cd],"{'de': 'Kongo (Dem. Rep.)', 'es': 'Congo (Rep...."
6,AO,AGO,"[AO, República de Angola, ʁɛpublika de an'ɡɔla]",1246700.0,"[COG, COD, ZMB, NAM]",[244],Luanda,ANG,"[{'code': 'AOA', 'name': 'Angolan kwanza', 'sy...",Angolan,...,Angola,Angola,024,25868000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Middle Africa,[UTC+01:00],[.ao],"{'de': 'Angola', 'es': 'Angola', 'fr': 'Angola..."
10,AR,ARG,"[AR, Argentine Republic, República Argentina]",2780400.0,"[BOL, BRA, CHL, PRY, URY]",[54],Buenos Aires,ARG,"[{'code': 'ARS', 'name': 'Argentine peso', 'sy...",Argentinean,...,Argentina,Argentina,032,43590400,Americas,"[{'acronym': 'USAN', 'name': 'Union of South A...",South America,[UTC-03:00],[.ar],"{'de': 'Argentinien', 'es': 'Argentina', 'fr':..."

In [108]:
cdf[ ['name','capital','region']].isin({'region': ['Asia','Africa']})

      name  capital  region
0    False    False    True
1    False    False   False
2    False    False   False
3    False    False    True
4    False    False   False
5    False    False   False
6    False    False    True
7    False    False   False
8    False    False   False
9    False    False   False
10   False    False   False
11   False    False    True
12   False    False   False
13   False    False   False
14   False    False   False
15   False    False    True
16   False    False   False
17   False    False    True
18   False    False    True
19   False    False   False
20   False    False   False
21   False    False   False
22   False    False   False
23   False    False    True
24   False    False   False
25   False    False    True
26   False    False   False
27   False    False   False
28   False    False   False
29   False    False    True
..     ...      ...     ...
220  False    False    True
221  False    False    True
222  False    False    True
223  False    False    True
224  False    False    True
225  False    False    True
226  False    False    True
227  False    False   False
228  False    False   False
229  False    False   False
230  False    False    True
231  False    False    True
232  False    False    True
233  False    False   False
234  False    False   False
235  False    False    True
236  False    False   False
237  False    False    True
238  False    False   False
239  False    False   False
240  False    False   False
241  False    False    True
242  False    False   False
243  False    False   False
244  False    False    True
245  False    False   False
246  False    False    True
247  False    False    True
248  False    False    True
249  False    False    True

[250 rows x 3 columns]