In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
# create a dataframe
df = pd.DataFrame({'rollno' : np.linspace(101,105,5,dtype='int32'), 
                   'java': np.random.randint(50,100,5), 
                   'python' : np.random.randint(50,100,5)})

In [3]:
df

   rollno  java  python
0     101    75      64
1     102    57      96
2     103    73      94
3     104    56      52
4     105    57      99

In [4]:
# create a connection to database
con = sqlite3.connect("marks.db")

In [5]:
# Write DataFrame to Database 
df.to_sql("marks",con,index=False,if_exists="replace")

In [32]:
#con.close()

In [8]:
# Read data from MARKS table using SQL
con = sqlite3.connect("marks.db")
cur = con.cursor()
cur.execute("select * from marks order by java")
for row in cur.fetchall():
     print(row)
con.close()

(104, 56, 52)
(102, 57, 96)
(105, 57, 99)
(103, 73, 94)
(101, 75, 64)

In [11]:
# Read data from MARKS table into Pandas DataFrame
con = sqlite3.connect("marks.db")
marks = pd.read_sql("select * from marks",con)
con.close()

In [12]:
marks

   rollno  java  python
0     101    75      64
1     102    57      96
2     103    73      94
3     104    56      52
4     105    57      99

In [15]:
marks.to_json("marks_15_feb.json",orient='records')